*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-image: url('https://img.freepik.com/free-vector/night-landscape-with-lake-mountains-trees-coast-vector-cartoon-illustration-nature-scene-with-coniferous-forest-river-shore-rocks-moon-stars-dark-sky_107791-8253.jpg?w=1800&t=st=1689193605~exp=1689194205~hmac=2d4759f70deb9a68885a43332b8270cfec8efa8d3d24c717f163652ba2660a97');
    background-repeat: no-repeat;
    background-size: 100%;
  width: 100vw;
  height: 100vh;
}

.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: all;
    perspective: 800px;
    transform-style: preserve-3d;
    transition: all 200ms linear;
}
.form-container{
    width: 400px;
    height: 450px;
    transform-style: preserve-3d;
    transition: all 200ms linear;
    perspective: 800px;
}

.form{
    border: 1px solid;
    border-radius: 10px;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #2a2b38;
    justify-content: center;
    transform-style: preserve-3d;
    transition: all 1s;
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg');
}
.email,.password{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 10px;
    width:300px;
    box-shadow: 0 4px 8px 0 rgba(255, 0, 0, 0.2);
}
.input-style{
    border:none;
    padding: 13px 20px;
    padding-left: 55px;
    height: 48px;
    width: 100%;
    font-weight: 500;
    border-radius: 4px;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.5px;
    outline: none;
    color:#c4c3ca;
    background-color: #1f2029;
}
.material-symbols-outlined{
    position: absolute;
    margin-right:250px;
    color: white;
    cursor: pointer;
}
.input-style:focus,
.input-style:active{
    box-shadow: 0 4px 8px 0 rgba(0,255,55,0.2);
}
.submit{
    display: flex;
    justify-content: center;
    margin-top: 10%;
}
.submit .btn{
    background-color: burlywood;
    width: 90px;
    height: 50px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.submit .btn:hover{
    background-color: rgb(228, 136, 17);
}
.header{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 40px;
    font-size: larger;
    color:white;
}
.login-form{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform:rotateY(0deg);
    backface-visibility: hidden;
    transform-style: preserve-3d;
}
.signup-form{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform:rotateY(180deg);
    backface-visibility: hidden;
    transform-style: preserve-3d;
}
.checkbox:checked ~ .form{
    transform: rotateY(180deg);
}
.center-content{
    position: absolute;
    display: flex;
    top: 5%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translate3d(0,0, 50px) perspective(400px);
    z-index: 20;
    width: 80%;
}
[type="checkbox"]:checked,
[type="checkbox"]:not(:checked){
    position: absolute;
    left: -9999px;
}
.checkbox:checked +label,
.checkbox:not(:checked)+label{
    position: relative;
    width: 100%;
    height: 20px;
    margin-bottom: 40px;
    border-radius: 8px;
    background-color: #2a2b38;
    display: block;
}
.checkbox:checked+label::before,
.checkbox:not(:checked)+label::before{
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius:10px;
    background-color: #f5de0e;
    display: block;
    content: '';
    transition: all 1s;
}
.checkbox:checked + label::before{
    transform: translateX(380px);
}
.checkbox-icon{
    position: absolute;
}
.section{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 2px;
    font-size: 24px;
    color: white;
}